NEXT_PUBLIC_SUPABASE_URL=https://fksumwbwwrcewscabscd.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZrc3Vtd2J3d3JjZXdzY2Fic2NkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njc4OTU0OTQsImV4cCI6MjA4MzQ3MTQ5NH0.qLcrWN0GI5tYYRuO5gO5AKlTEIv1VSSqsrA_M2LWX0E